In [1]:
import pandas as pd
import numpy as np

In [17]:
double_bottom_data = pd.read_csv("../data/ejemplos_doble_suelo_final.csv", index_col=0)
double_top_data = pd.read_csv("../data/ejemplos_doble_techo_final.csv", index_col=0)

In [19]:
double_bottom_data.drop_duplicates(inplace=True)
double_top_data.drop_duplicates(inplace=True)

In [20]:
double_bottom_data[double_bottom_data["class"] == 1]

            date  class
1     2003-01-07    1.0
62    2013-01-31    1.0
64    2013-03-22    1.0
134   2007-02-16    1.0
138   2000-06-07    1.0
...          ...    ...
1540  2013-03-15    1.0
1575  2009-06-19    1.0
1580  2002-09-25    1.0
1589  2003-10-07    1.0
1621  2007-02-28    1.0

[83 rows x 2 columns]

In [21]:
double_top_data[double_top_data["class"] == 1]

           date  class
0    2007-01-15    1.0
1    2004-02-25    1.0
2    2009-09-25    1.0
3    2002-02-18    1.0
4    2010-11-25    1.0
..          ...    ...
160  2002-02-13    1.0
162  2010-11-26    1.0
163  2005-02-04    1.0
164  2019-04-04    1.0
165  2001-12-18    1.0

[76 rows x 2 columns]

In [15]:
class_1 = double_bottom_data[double_bottom_data["class"] == 1]
class_0 = double_bottom_data[double_bottom_data["class"] == 0]
class_2 = double_bottom_data[double_bottom_data["class"] == 2]

# Get #class_1 random elements of class 0
random_idx = np.random.randint(low=0, high=class_0.shape[0], size=class_1.shape[0])
class_0 = class_0.iloc[random_idx]

# reindex classes
class_0.reset_index(drop=True, inplace=True)
class_1.reset_index(drop=True, inplace=True)

# save into csv
frame = pd.concat([class_0, class_1])
frame.reset_index(drop=True, inplace=True)
frame.to_csv("../data/doble_suelo_balanceado.csv")